@font-face{

	font-family: "hk";
	src:url("../fonts/hk-grotesk/HKGrotesk-Regular.woff2") format("woff2"),
	url("../fonts/hk-grotesk/HKGrotesk-Regular.woff") format("woff"),
	url("../fonts/hk-grotesk/HKGrotesk-Regular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face{

	font-family: "hk";
	src:url("../fonts/hk-grotesk/HKGrotesk-Medium.woff2") format("woff2"),
	url("../fonts/hk-grotesk/HKGrotesk-Medium.woff") format("woff"),
	url("../fonts/hk-grotesk/HKGrotesk-Medium.ttf") format("truetype");
	font-style: normal;
	font-weight: bold;
}

@font-face{

	font-family: "libre";
	src:url("../fonts/libre-bask/LibreBaskerville-Regular.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
}