@import 'reset.css';
@import 'fonts.css';



html{

	font-size: 1.25vw;
}

body{

	line-height: 1.25rem;
	font-family: "hk";
	counter-reset: parts;

	em{

		font-style: italic;
	}

	img{

		width: calc(100% / 2);
		//max-height: 80vh;
		border: solid 1rem #000;
		display: inline-block;
		margin: 0 1rem 1rem 0;
	}
}

/* HOME */

.home{


	*{
		box-sizing: border-box;
		border-radius: 1rem;
		border: solid 1px #000;
	}


	h2,
	h3,
	li,
	p{

		padding-left: 1rem;
		padding-right: 1rem;
	}

	header{

		font-weight: bold;
		display: flex;
		flex-wrap: wrap;

		>*{

			width: calc(100% / 3);
			border: solid 1px #000;

			span{

				padding: 0.5rem;
				font-size: 2.5rem;
				line-height: 2rem;
				font-weight: bold;
				display: block;
				word-break: break-all;
				text-align: center;

			}
		}

		>*:nth-child(odd){

			background: #000;
			color: #fff;

			span{
				transform: scaleX(0.5);

			}

		}

		>*:nth-child(even){



			background: red;
			color: #fff;


			span{
				font-size: 3rem;
				transform: scaleY(0.5);

			}
		}

	}

	h2{
		padding-top: 1rem;
		padding-bottom: 1rem;
		font-size: 2.5rem;
		line-height: 2rem;
		font-weight: bold;
		transform: scaleY(0.7);
		margin-top: -0.7rem; 
		background: blue;
		color: #fff;
		margin-bottom: -0.7rem;

	}

	h2::before{

		counter-increment: parts;
		content: counter(parts, upper-roman) ". ";
	}	

	h3{

		font-size: 1.5rem;
		line-height: 2rem;
		padding-top: 0.25rem;
		padding-bottom: 0.25rem;
		background: yellow;
	}

	h2, h3{

		font-weight: bold;
		border: solid 1px #000;
	}

	nav{

		position: fixed;
		bottom: 1rem;
		right: 1rem;


		#refresh{

			padding: 0.25rem 0.5rem 0.25rem 0.5rem;
			background: white;
			color: #fff;
			background: red;
			text-decoration: none;
			border-radius: 1rem;
			border: solid 1px #000;
		}
	}


	>ul{

		li::before{

			content: " ";
			background: red;
			height: 0.75rem;
			width: 0.75rem;
			display: inline-block;
			border-radius: 1rem;
			margin: 0 0.5rem 0 0;
		}
	}

	>ol{

		counter-reset: ol;

		>li::before{

			counter-increment: ol;
			content: counter(ol, upper-alpha) ". ";
		}
	}
	>ul,
	>ol{

		li{

			font-size: 1.5rem;
			line-height: 2rem;
			a{
				color: blue;
			}
			a::before{

				content: " → ";
			}

		}
		
	}

	p{

		font-size: 1.5rem;
		line-height: 1.75rem;
		margin: 1rem 0 1rem 0;
	}

}


/* TALK */

.talk{

	padding: 1rem;
	counter-reset: "parts";
	background: #eee;

	a{
		color: blue;
		text-decoration: underline;
	}

	h1,
	h2{

		color: red;
	}

	h2{

		margin: 0 0 1rem 1rem;

	}

	h2::before{

		counter-increment: parts;
		content: counter(parts, lower-roman) ". ";
	}

	h2:hover{

		cursor: pointer;
		color: blue;
	}

	h3{

		color: green;
		margin: 1rem 0 1rem 2rem;
	}

	h3:not(:first-of-type){

		margin: 1rem 0 1rem 2rem;
	}

	h4{

		margin: 0 0 1rem 0;
	}

	p, li{

		max-width: 75%;

	}

	ul{

		>li{

			list-style: circle outside none;
			margin: 0 0 0 1rem;
		}
	}

	ol{

		>li{

			list-style: decimal outside none;
			margin: 0 0 1rem 1rem;

			>p{
				text-decoration: underline;
			}


		}
	}

	p{

		margin: 0 0 1rem 0;
	}

	section{

		counter-reset: subp;


		h3::before{

			counter-increment: subp;
			content: counter(subp, lower-alpha) ". ";
		}
	}

	.part.closed{

		display: none;

	}

	
}

@media screen and (max-width: 1300px){

	html{

		font-size: 18px;
	}

	.home{

		h2,
		h3,
		li,
		p{

			padding-left: 1rem;
			padding-right: 1rem;
		}
		header{

			display: block;

			>*{

				width: 100%;

				span{

					text-align: left;

				}
			}
		}
	}
}