@charset "UTF-8";
@import url(reset.css);
@import url(fonts.css);
html {
  font-size: 1.25vw; }

body {
  line-height: 1.25rem;
  font-family: "hk";
  counter-reset: parts; }
  body em {
    font-style: italic; }
  body img {
    width: calc(100% / 2);
    border: solid 1rem #000;
    display: inline-block;
    margin: 0 1rem 1rem 0; }

/* HOME */
.home * {
  box-sizing: border-box;
  border-radius: 1rem;
  border: solid 1px #000; }

.home h2,
.home h3,
.home li,
.home p {
  padding-left: 1rem;
  padding-right: 1rem; }

.home header {
  font-weight: bold;
  display: flex;
  flex-wrap: wrap; }
  .home header > * {
    width: calc(100% / 3);
    border: solid 1px #000; }
    .home header > * span {
      padding: 0.5rem;
      font-size: 2.5rem;
      line-height: 2rem;
      font-weight: bold;
      display: block;
      word-break: break-all;
      text-align: center; }
  .home header > *:nth-child(odd) {
    background: #000;
    color: #fff; }
    .home header > *:nth-child(odd) span {
      transform: scaleX(0.5); }
  .home header > *:nth-child(even) {
    background: red;
    color: #fff; }
    .home header > *:nth-child(even) span {
      font-size: 3rem;
      transform: scaleY(0.5); }

.home h2 {
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 2.5rem;
  line-height: 2rem;
  font-weight: bold;
  transform: scaleY(0.7);
  margin-top: -0.7rem;
  background: blue;
  color: #fff;
  margin-bottom: -0.7rem; }

.home h2::before {
  counter-increment: parts;
  content: counter(parts, upper-roman) ". "; }

.home h3 {
  font-size: 1.5rem;
  line-height: 2rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  background: yellow; }

.home h2, .home h3 {
  font-weight: bold;
  border: solid 1px #000; }

.home nav {
  position: fixed;
  bottom: 1rem;
  right: 1rem; }
  .home nav #refresh {
    padding: 0.25rem 0.5rem 0.25rem 0.5rem;
    background: white;
    color: #fff;
    background: red;
    text-decoration: none;
    border-radius: 1rem;
    border: solid 1px #000; }

.home > ul li::before {
  content: " ";
  background: red;
  height: 0.75rem;
  width: 0.75rem;
  display: inline-block;
  border-radius: 1rem;
  margin: 0 0.5rem 0 0; }

.home > ol {
  counter-reset: ol; }
  .home > ol > li::before {
    counter-increment: ol;
    content: counter(ol, upper-alpha) ". "; }

.home > ul li,
.home > ol li {
  font-size: 1.5rem;
  line-height: 2rem; }
  .home > ul li a,
  .home > ol li a {
    color: blue; }
  .home > ul li a::before,
  .home > ol li a::before {
    content: " → "; }

.home p {
  font-size: 1.5rem;
  line-height: 1.75rem;
  margin: 1rem 0 1rem 0; }

/* TALK */
.talk {
  padding: 1rem;
  counter-reset: "parts";
  background: #eee; }
  .talk a {
    color: blue;
    text-decoration: underline; }
  .talk h1,
  .talk h2 {
    color: red; }
  .talk h2 {
    margin: 0 0 1rem 1rem; }
  .talk h2::before {
    counter-increment: parts;
    content: counter(parts, lower-roman) ". "; }
  .talk h2:hover {
    cursor: pointer;
    color: blue; }
  .talk h3 {
    color: green;
    margin: 1rem 0 1rem 2rem; }
  .talk h3:not(:first-of-type) {
    margin: 1rem 0 1rem 2rem; }
  .talk h4 {
    margin: 0 0 1rem 0; }
  .talk p, .talk li {
    max-width: 75%; }
  .talk ul > li {
    list-style: circle outside none;
    margin: 0 0 0 1rem; }
  .talk ol > li {
    list-style: decimal outside none;
    margin: 0 0 1rem 1rem; }
    .talk ol > li > p {
      text-decoration: underline; }
  .talk p {
    margin: 0 0 1rem 0; }
  .talk section {
    counter-reset: subp; }
    .talk section h3::before {
      counter-increment: subp;
      content: counter(subp, lower-alpha) ". "; }
  .talk .part.closed {
    display: none; }

@media screen and (max-width: 1300px) {
  html {
    font-size: 18px; }
  .home h2,
  .home h3,
  .home li,
  .home p {
    padding-left: 1rem;
    padding-right: 1rem; }
  .home header {
    display: block; }
    .home header > * {
      width: 100%; }
      .home header > * span {
        text-align: left; } }
